<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset='utf-8'>
    <title>Часть два</title>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <h1>Часть два</h1>
    <h2>Часть два</h2>
    <h3>Часть два</h3>
    <h4>Часть два</h4>
    <h5>Часть два</h5>
    <h6>Часть два</h6>
    <p>Абзац №1 <span>Lorem ipsum dolor</span> sit amet consectetur adipisicing elit. Vel temporibus beatae hic inventore nisi. Ratione iusto quod assumenda, quaerat quis veritatis eaque sed, soluta provident laborum animi aperiam illo quam!</p>
    <p>Абзац №2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, veniam mollitia officiis <br> Перенос строки error minus fuga distinctio! Nisi necessitatibus, eaque incidunt doloribus perspiciatis iusto accusamus quo quidem eum, vitae voluptas dicta?</p>
    <span>Тег №1</span>
    <span>Тег №2</span>
    <a target="_blank" href="https://google.com">
        Содержимое тега
    </a>
    <img src="../img/2.png" alt="Блочные теги">
    <ul>
        <li>Не нумерованный</li>
        <li>Любой элемент списка должен помещатся в этот тег</li>
        <li>Любой элемент списка должен помещатся в этот тег</li>
    </ul>
    <ol>
        <li>Нумированный</li>
        <li>Любой элемент списка должен помещатся в этот тег</li>
        <li>Любой элемент списка должен помещатся в этот тег</li>
    </ol>
</body>
</html>